@font-face { font-family: Ubuntu-L; src: url('../font/Ubuntu-L.ttf');}

html {
    font-family: Ubuntu-L;
    font-size: 1em;
    box-sizing: border-box;
    font-family: Ubuntu-L;
}

body {
    margin: 0;
    padding: 0;
}
