@import "colors";
@import "globalInit";
@import "page";
@import "header";
@import "project";
@import "deco";
@import "dimen";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";

#site-wrapper {
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

#home {
    background-color: $windowBackground;

    .content-wrapper {
        // specific margin to home content, see original margin in _pages.scss
        margin-right: 25%;

        @include thirdBreakPoint {
            margin-right: 20%;
            margin-left: 0;
        }


        @include mainBreakPoint {
            margin-right: 0;
        }

        .content {
            background-color: white;
            box-shadow: 0px 0px 3px $colorPrimary;
            border-radius: 2px;

            .deco {
                top: $deco-home-top;
                right: 0px;

                @include thirdBreakPoint {
                    top: $deco-home-top + 80;
                }

                @include mainBreakPoint {
                    top: $deco-home-top + 90;
                }

                @include secondBreakPoint {
                    display: none;
                }
            }

            & > h1 {
                font-weight: normal;
                font-size: 2.0em;
                padding: $default-padding;
                padding-left: $default-title-padding;
                padding-bottom: $default-title-padding * 2;
                background-color: $colorPrimaryDark;
                color: $textColorPrimary;
                margin: 0;
            }
            a#profile-github {
                display: block;
                font-size: 2.0em;
                padding: $default-padding;
                padding-left: $default-padding - 5px;
                padding-right: $default-padding - 5px;
                color: $textColorPrimary;
                background-color: $colorPrimary;
                position: relative;
                top: - $default-padding * 2 - 6px;
                left: $default-title-padding;
                border-radius: 50%;
                float: left;
                box-shadow: 0px 0px 5px black;
                z-index: 10;

                &:hover {
                    background-color: lighten($colorPrimary, 10%);
                }
            }
            p {
                padding: $default-padding;
                margin-left: $default-padding;
                margin-right: $default-padding;
                text-align: justify;
                width: 50%;
                background-color: $windowBackground;
                position: relative;
                float: right;
                top: - $default-padding * 7.5;
                transition: all 0.5s linear;

                & > a {
                    color: black;
                    text-decoration: none;
                }

                @include secondBreakPoint {
                    float: none;
                    margin: 0;
                    top: 0;
                    width: auto;
                    padding-top: $default-padding * 5;
                }
            }
            .formations {
                clear: left;
                padding: $default-padding;
                margin: 0;
                margin-left: $default-padding * 2;
                ul {
                    margin: 0;
                    padding-left: $default-padding * 2;
                    padding-bottom: $default-padding;

                    li {
                        list-style: none;
                        padding: $default-padding;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            left: - $default-padding * 2;
                            top: $default-padding / 2;
                            width: $default-padding * 2;
                            height: $default-padding * 2;
                            background-color: $colorPrimary;
                            border-radius: 50%;
                        }

                        &:nth-child(1)::after {
                            background-color: $colorAccent;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            left: - $default-padding - 2px;
                            top: $default-padding / 2;
                            width: 1px;
                            height: 100%;
                            border-left: 3px solid $colorPrimaryDark;
                        }

                        &:last-child::before {
                            border-left: 3px dotted $colorPrimary;
                            opacity: 0.8;
                        }
                    }
                }
            }

            .info {
                padding: $default-padding $default-padding * 3;

                @include secondBreakPoint {
                    padding: $default-padding;
                }

                section {
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                    box-sizing: border-box;

                    @include secondBreakPoint {
                        width: 100%;
                    }

                    &:first-child {
                        text-align: right;

                        @include secondBreakPoint {
                            text-align: left;
                        }

                        ul {
                            position: relative;
                            &::after {
                                content: '';
                                position: absolute;
                                top: -52px;
                                right: 0;
                                width: 1px;
                                bottom: 0;
                                background-color: $colorPrimaryDark;
                                @include secondBreakPoint {
                                    background-color: transparent;
                                }
                            }
                        }
                    }

                    & > h4 {
                        margin: 0;
                        padding: $default-padding;
                        padding-top: $default-padding * 2;
                        background-color: $colorAccent;
                    }
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            list-style: none;
                            padding: $default-padding / 2;
                            margin: $default-padding / 2;
                            background-color: $windowBackground;
                            @include secondBreakPoint {
                                margin-right: 0;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

#android-projects {
    background-color: $colorPrimary;
    z-index: 20;

    @include transform(translateX(80%));
    @include transform(translate3d(80%, 0, 0));

    @include mainBreakPoint {
        @include transform(translateX(0%));
        @include transform(translate3d(0%, 0, 0));
    }

    .content-wrapper {
        // specific margin to android-projects content, see original margin in _pages.scss
        margin-right: 25%;

        @include mainBreakPoint {
            margin-right: 0;
        }

        .content {
            @include minMainBreakPoint {
                @include transition(all 0.7s linear);
                @include transform(translateX(50%));
            }
        }
    }
}

#web-projects {
    background-color: lighten($colorPrimaryDark, 2);
    z-index: 30;

    @include transform(translateX(90%));
    @include transform(translate3d(90%, 0, 0));

    @include mainBreakPoint {
        @include transform(translateX(0%));
        @include transform(translate3d(0%, 0, 0));
    }

    .content-wrapper {
        // specific margin to web-projects content, see original margin in _pages.scss
        margin-right: 15%;

        @include mainBreakPoint {
            margin-right: 0;
        }

        .content {
            @include minMainBreakPoint {
                @include transition(all 0.7s linear);
                @include transform(translateX(50%));
            }
        }
    }

}
